/* line 1, ../sass/jssocials-theme-flat.scss */
.jssocials-share-twitter .jssocials-share-link {
  background: #00aced;
}

/* line 3, ../sass/jssocials-theme-flat.scss */
.jssocials-share-twitter .jssocials-share-link:hover {
  background: #0087ba;
}

/* line 6, ../sass/jssocials-theme-flat.scss */
.jssocials-share-facebook .jssocials-share-link {
  background: #3b5998;
}

/* line 8, ../sass/jssocials-theme-flat.scss */
.jssocials-share-facebook .jssocials-share-link:hover {
  background: #2d4373;
}

/* line 11, ../sass/jssocials-theme-flat.scss */
.jssocials-share-googleplus .jssocials-share-link {
  background: #dd4b39;
}

/* line 13, ../sass/jssocials-theme-flat.scss */
.jssocials-share-googleplus .jssocials-share-link:hover {
  background: #c23321;
}

/* line 16, ../sass/jssocials-theme-flat.scss */
.jssocials-share-linkedin .jssocials-share-link {
  background: #007bb6;
}

/* line 18, ../sass/jssocials-theme-flat.scss */
.jssocials-share-linkedin .jssocials-share-link:hover {
  background: #005983;
}

/* line 21, ../sass/jssocials-theme-flat.scss */
.jssocials-share-pinterest .jssocials-share-link {
  background: #cb2027;
}

/* line 23, ../sass/jssocials-theme-flat.scss */
.jssocials-share-pinterest .jssocials-share-link:hover {
  background: #9f191f;
}

/* line 26, ../sass/jssocials-theme-flat.scss */
.jssocials-share-email .jssocials-share-link {
  background: #3490F3;
}

/* line 28, ../sass/jssocials-theme-flat.scss */
.jssocials-share-email .jssocials-share-link:hover {
  background: #0e76e6;
}

/* line 31, ../sass/jssocials-theme-flat.scss */
.jssocials-share-stumbleupon .jssocials-share-link {
  background: #eb4823;
}

/* line 33, ../sass/jssocials-theme-flat.scss */
.jssocials-share-stumbleupon .jssocials-share-link:hover {
  background: #c93412;
}

/* line 36, ../sass/jssocials-theme-flat.scss */
.jssocials-share-whatsapp .jssocials-share-link {
  background: #29a628;
}

/* line 38, ../sass/jssocials-theme-flat.scss */
.jssocials-share-whatsapp .jssocials-share-link:hover {
  background: #1f7d1e;
}

/* line 41, ../sass/jssocials-theme-flat.scss */
.jssocials-share-telegram .jssocials-share-link {
  background: #2ca5e0;
}

/* line 43, ../sass/jssocials-theme-flat.scss */
.jssocials-share-telegram .jssocials-share-link:hover {
  background: #1c88bd;
}

/* line 46, ../sass/jssocials-theme-flat.scss */
.jssocials-share-line .jssocials-share-link {
  background: #25af00;
}

/* line 48, ../sass/jssocials-theme-flat.scss */
.jssocials-share-line .jssocials-share-link:hover {
  background: #1a7c00;
}

/* line 51, ../sass/jssocials-theme-flat.scss */
.jssocials-share-viber .jssocials-share-link {
  background: #7b519d;
}

/* line 53, ../sass/jssocials-theme-flat.scss */
.jssocials-share-viber .jssocials-share-link:hover {
  background: #61407b;
}

/* line 56, ../sass/jssocials-theme-flat.scss */
.jssocials-share-pocket .jssocials-share-link {
  background: #ef4056;
}

/* line 58, ../sass/jssocials-theme-flat.scss */
.jssocials-share-pocket .jssocials-share-link:hover {
  background: #e9132e;
}

/* line 61, ../sass/jssocials-theme-flat.scss */
.jssocials-share-messenger .jssocials-share-link {
  background: #0084ff;
}

/* line 63, ../sass/jssocials-theme-flat.scss */
.jssocials-share-messenger .jssocials-share-link:hover {
  background: #006acc;
}

/* line 66, ../sass/jssocials-theme-flat.scss */
.jssocials-share-vkontakte .jssocials-share-link {
  background: #45668e;
}

/* line 68, ../sass/jssocials-theme-flat.scss */
.jssocials-share-vkontakte .jssocials-share-link:hover {
  background: #344d6c;
}

/* line 71, ../sass/jssocials-theme-flat.scss */
.jssocials-share-link {
  padding: .5em .6em;
  color: #fff;
  -webkit-transition: background 200ms ease-in-out, border-color 200ms ease-in-out;
  transition: background 200ms ease-in-out, border-color 200ms ease-in-out;
}

/* line 76, ../sass/jssocials-theme-flat.scss */
.jssocials-share-link:hover, .jssocials-share-link:focus, .jssocials-share-link:active {
  color: #fff;
}

/* line 79, ../sass/jssocials-theme-flat.scss */
.jssocials-share-count-box {
  position: relative;
  height: 2.5em;
  padding: 0 .3em;
  margin-left: 0.3em;
  background: #f5f5f5;
  -webkit-transition: background 200ms ease-in-out, border-color 200ms ease-in-out;
  transition: background 200ms ease-in-out, border-color 200ms ease-in-out;
}

/* line 87, ../sass/jssocials-theme-flat.scss */
.jssocials-share-count-box:hover {
  background: gainsboro;
}

/* line 89, ../sass/jssocials-theme-flat.scss */
.jssocials-share-count-box:hover:after {
  border-color: transparent gainsboro transparent transparent;
}

/* line 91, ../sass/jssocials-theme-flat.scss */
.jssocials-share-count-box:after {
  content: "";
  display: block;
  position: absolute;
  top: 0.85em;
  left: -0.3em;
  width: 0;
  height: 0;
  border-width: 0.4em 0.4em 0.4em 0;
  border-style: solid;
  border-color: transparent #f5f5f5 transparent transparent;
  -webkit-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: background 200ms ease-in-out, border-color 200ms ease-in-out;
  transition: background 200ms ease-in-out, border-color 200ms ease-in-out;
}

/* line 107, ../sass/jssocials-theme-flat.scss */
.jssocials-share-count-box .jssocials-share-count {
  line-height: 2.5em;
  color: #444;
}
