/* line 1, ../sass/jssocials.scss */
.jssocials-shares {
  margin: 0.2em 0;
}

/* line 4, ../sass/jssocials.scss */
.jssocials-shares * {
  box-sizing: border-box;
}

/* line 7, ../sass/jssocials.scss */
.jssocials-share {
  display: inline-block;
  vertical-align: top;
  margin: 0.3em 0.6em 0.3em 0;
}

/* line 12, ../sass/jssocials.scss */
.jssocials-share:last-child {
  margin-right: 0;
}

/* line 15, ../sass/jssocials.scss */
.jssocials-share-logo {
  width: 1em;
  vertical-align: middle;
  font-size: 1.5em;
}

/* line 20, ../sass/jssocials.scss */
img.jssocials-share-logo {
  width: auto;
  height: 1em;
}

/* line 24, ../sass/jssocials.scss */
.jssocials-share-link {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  line-height: 1;
}

/* line 29, ../sass/jssocials.scss */
.jssocials-share-link.jssocials-share-link-count {
  padding-top: .2em;
}

/* line 31, ../sass/jssocials.scss */
.jssocials-share-link.jssocials-share-link-count .jssocials-share-count {
  display: block;
  font-size: .6em;
  margin: 0 -.5em -.8em -.5em;
}

/* line 35, ../sass/jssocials.scss */
.jssocials-share-link.jssocials-share-no-count {
  padding-top: .5em;
}

/* line 37, ../sass/jssocials.scss */
.jssocials-share-link.jssocials-share-no-count .jssocials-share-count {
  height: 1em;
}

/* line 40, ../sass/jssocials.scss */
.jssocials-share-label {
  padding-left: 0.3em;
  vertical-align: middle;
}

/* line 44, ../sass/jssocials.scss */
.jssocials-share-count-box {
  display: inline-block;
  height: 1.5em;
  padding: 0 0.3em;
  line-height: 1;
  vertical-align: middle;
  cursor: default;
}

/* line 51, ../sass/jssocials.scss */
.jssocials-share-count-box.jssocials-share-no-count {
  display: none;
}

/* line 54, ../sass/jssocials.scss */
.jssocials-share-count {
  line-height: 1.5em;
  vertical-align: middle;
}
