/*****************
 * Site Variables
 */
 
$color-brand: #0071bc;
$color-white: #ffffff;
$color-black: #000000;
$color-gray: #cfcfcf;
$text-color: #222222;
$gray-lighter: #e5e5e5; 

$brand-primary: $color-brand;

$font-size-base: 14px;

$font-family-sans-serif: 'Hind Vadodara', sans-serif;
$font-family-serif: 'Hind Vadodara', sans-serif;

$font-size-base: 14px;

// Navbar
$navbar-default-link-color: #222222;
$navbar-default-link-hover-color: $color-brand;

$navbar-default-link-active-color: $color-brand;
$navbar-default-link-active-bg: transparent;

$navbar-height: 110px;

$navbar-padding-vertical: 15px;

$navbar-default-bg: #ffffff;

// Thumbnails
$thumbnail-padding: 0;
$thumbnail-bg: transparent;
$thumbnail-border: transparent;
$thumbnail-border-radius: 0;

$thumbnail-caption-color: $text-color;
$thumbnail-caption-padding: 0;

// Scaffolding
$link-color: $text-color;
$link-hover-color: $color-brand;
$link-hover-decoration: none;

// List group
$list-group-bg: transparent;
$list-group-border: transparent;
$list-group-border-radius: 0;

// Pagination
$pagination-color: $link-color;
$pagination-bg: #fff;
$pagination-border: transparent;

$pagination-hover-color: $link-hover-color;
$pagination-hover-bg: transparent;
$pagination-hover-border: transparent;

$pagination-active-color: $text-color;
$pagination-active-bg: transparent;
$pagination-active-border: $gray-lighter;

// Breadcrumbs
$breadcrumb-padding-vertical: 0;
$breadcrumb-padding-horizontal: 0;
$breadcrumb-bg: transparent;

// Type
$page-header-border-color: transparent;

// Typography
$font-size-h1: 2.42em;
$font-size-h2: 2.14em;
$font-size-h3: 1.85em;
$font-size-h4: 1.71em;
$font-size-h4: 1.42em;
$font-size-h4: 1.14em;