/**
 *	PROJECT			:		AmaTop10
 *	DEVELOPER		:		CAMWP DEV Team
 *	DEVELOPER URI	:		https://camwpdev.com
 *	DATE			:		01-Jan-2017
 */

@import "variables";
@import "bootstrap-compass";
@import "bootstrap";
@import "compass/css3";
@import "font-awesome";
@import "slick";
@import "slick-theme";
@import "wordpress-core";
@import "jssocials";
@import "jssocials-theme-flat";

a:hover,
a:active,
a:focus {
	outline: none;
}

.navbar-custom {
	border-bottom: 1px solid $gray-lighter;
	border-left: 0 none transparent;
    border-right: 0 none transparent;
	
	.navbar-brand {
		transform: translateX( -50% );
		left: 50%;
		top: -2px;
		position: absolute;
		z-index: 9;
	}

	.navbar-nav {
		margin: 0;
		
		a {
			font-size: 	1.14em;
		}
	}
	.search-form,
	.toggle-search {
		display: none;
	}
}

.social-network {
	list-style: none;
	display: inline-block;
	padding: 0;
	margin: 0;
	
	li {
		padding-right: 10px;
		display: inline-block;
	}	
}

.display-flex {
	@include display-flex;
	@include flex-direction(row);
	@include flex-wrap(wrap);
	
	.col-md-4 {
		float: none;
	}
}

.panel-title,
.section-heading {
	font-weight: 600;
	font-size: 1.71em;
}

.page-header {
	margin: 0;
}

.no-border {
	border: 0 none !important;
}

.thumbnail {
	border: 0 none;

	.caption {
		h3 {
			font-size: 1.57em;
			font-weight: 600;
			line-height: 26px;
			margin-top: 10px;
			margin-bottom: 0;
		}
		p {
			line-height: 20px;
			font-size: 1.14em;
		}
	}
}

.feature-slider {
    opacity: 0;
	
	.caption {
		h3 {
			font-size: 1.14em;
		    line-height: 20px;	
		}	
	}	
}
.feature-thumbnail {
	position: relative;
	margin-bottom: 15.7656px;

	.caption {
		a.category,
		h3 {
			position: absolute;
			left: 0;
			padding: 20px;
			margin: 0;
		    text-transform: capitalize;
			width: 100%;
		}
		a.category {
			color: $color-white;
			font-weight: 400;
			font-size: 0.85em;
			top: 0;
			text-transform: uppercase;

			&:hover,
			&:focus,
			&:active {
				color: darken( $color-white, 5% );
			}
		}
		h3 {
			bottom: 20px;
			bottom: 0;
			font-size: 1.64em;
			font-weight: 400;

			a {
				color: $color-white;

				&:hover,
				&:focus,
				&:active {
					color: darken( $color-white, 5% );
				}
			}
		}
	}
}

.blog-list-thumbnail {
	.thumbnail {
		border-bottom: 1px solid $gray-lighter;

		h3 {
			margin: 15px 0;
		}
		p {
			margin-bottom: 20px;
		}
	}

	&:nth-child(5) {
		.thumbnail {
			margin-bottom: 0;
		}
	}
}

.list-group-item {
	padding: 0;
	border: 0 none;

	.thumbnail {
		img {
		    float: left;
		    margin-right: 10px;
		    width: 40%;
		}
		.caption {
			h3 {
				margin: 0 0 10px 0;
				font-size: 1.14em;
			    line-height: 20px;
			    font-weight: 400;
			}
		}
	}
}

.thumbnail,
.feature-thumbnail,
.blog-list-thumbnail {
	img {
		display: block;
		height: auto;
		width: 100%;
	}
}

.thumbnail,
.blog-list-thumbnail {
	img {
		border: 1px solid $gray-lighter;
	}
}

.meta-post {
	padding: 0;
    list-style: none;

    li {
    	display: inline-block;
    	padding-right: 10px;
    }
}

.pagination-round {
	> li {
		> span.current {
			border: 1px solid $gray-lighter;
			
			@include border-radius( 50% );
		}
		> a,
		> span.current {
			padding: 0;
			width: 32px;
			text-align: center;
			height: 32px;
			line-height: 32px;
		}
	}
}

section#latest-post {
	border-top: 1px solid $gray-lighter;
	
	.thumbnail {
		.caption {
			h3 {
				font-size: 1.28em;
				font-weight: 400;
				line-height: 22px;
				margin: 10px 0;	
			}	
		}	
	}
}
section#feature {
	.slick-control {
		display: none;
		padding: 0;
		margin: 0;
	    list-style: none;
	    text-align: right;

	    li {
	    	display: inline-block;
	    	line-height: 53px;
	    	padding-left: 18px;
	    }
	    a {
	    	color: $color-gray;
	    	font-size: 1.7em;
	    	font-weight: 300;
	    }
	}
	.thumbnail {
		padding: 1px;
	}
}

section.related-post {
	border-top: 1px solid $gray-lighter;
	margin: 25px 0 0 0;
}

section.sticky-social {
	display: none;
	position: fixed;
    top: 45%;
    width: 46px;
    z-index: 99999;

    .share,
    .social-hide-btn {
    	padding: 0 4px;

    	@include transition( transform 500ms ease );
    }

    &.left-content {
    	left: 0;
    }

    &.right-content {
    	right: 0;
    }

    &.hide-social {
		.share {
			@include transform( translate( -100%, 0 ) );
		}

    	.social-hide-btn {
    		color: $color-brand;

    		@include transform( translate( 0, 100% ) );
    	}
    }

    .social-hide-btn {
    	cursor: pointer;
    	text-align: center;

    	&:hover,
    	&:focus,
    	&:active {
    		color: $color-brand;
    	}
    }
}

body.home aside.widget-area #wp-subscribe h4.title,
body.home aside.widget-area .widget-title {
    margin-top: 20px;
	margin-bottom: 10px;
}

aside.widget-area {
	.widget {
		margin-bottom: 30px;
	}
	.inside ul,
	.wpt-tabs {
	    padding: 0;
	    float: left;
	    width: 100%;
	}
	.entry-title {
		a:hover,
		a:focus,
		a:active {
			color: $color-brand;	
		}	
	}
	#wp-subscribe h4.title,
	.widget-title {
		color: $text-color;
		font-size: 1.42em;
		font-weight: 600;
		text-align: left;
		text-transform: capitalize;
		margin-top: 0;
		margin-bottom: 10px;
	}

	#wp-subscribe {
		background-color: transparent;
		padding: 0;
		
		.text {
			background: url( '../images/envelope-icon.gif' ) no-repeat 20px 25px #f8f8f8;
			color: #707070;
			font-size: 1.14em;
			font-weight: 400;
			line-height: 20px;
			padding: 20px 20px 15px 64px;
			margin-bottom: 0;
			text-align: left;
		}
		form {
			background-color: #f8f8f8;
		    padding: 0 20px;
		    float: left;
		    width: 100%;
			
			input.email-field,
			input.name-field,
			input.submit {
				float: left;
				margin: 0;
				height: 36px;
				line-height: 36px;
				
				@include border-radius( 4px );
			}
			
			input.email-field,
			input.name-field {
				background-color: transparent;
				border: 1px solid #e5e5e5;
				color: #c1c1c1;
				font-size: 1.14em;
				padding: 10px;
				text-align: left;
			    outline: none;
				width: 60%;
			}
			input.submit {
				background-color: #1e2022;
				color: $color-white;
				font-size: 0.78em;
				font-weight: 700;
				text-align: center;
				text-transform: uppercase;
				margin-left: 10px;
				padding: 0;
				width: calc( 40% - 10px );
			}
		}
		.footer-text {
			background-color: #f8f8f8;
			color: #b0b0b0;
			font-size: 0.85em;
			font-weight: 400;
			text-align: left;
			margin: 0;
			padding: 15px 20px 20px 20px;
		}
	}
	.wpt_widget_content {
		border: 0 none;
		
		.entry-title {
			font-size: 0.71em;
		}
		
		.wpt-tabs {
			border-bottom: 1px solid #eeeeee;
			
			.tab_title {
				margin-bottom: -1px;
				
				a {
					border: 1px solid #eeeeee;
					color: #777777;
					font-size: 0.71em;
					font-weight: 700;
					text-transform: uppercase;
					margin-right: 2px;
					
					@include border-radius( 4px 4px 0 0 );
				}
			
				&.selected {
					a {
						border-bottom: 1px solid $color-white;
						color: $text-color;
					}
				}
				&:hover,
				&:focus,
				&:active {
					opacity: 0.7;	
				}
				&:last-child {
					a {
						margin-right: 0;	
					}	
				}
			}
		}
		.tab-content {
			li {
				font-size: 1.28em;
			    padding-left: 0;
			    padding-right: 0;
			    width: 100%;
				
				.wpt_thumbnail {
					height: auto;
					float: right;
					margin-left: 12px;
					margin-right: 0;
					width: 95px;
					
					img {
						border: 1px solid $gray-lighter;
					}
				}
			}	
		}
	}
}
section.widget_categories {
	ul {
		padding: 0;
		list-style: none;
		margin: 0;
	}
	li {
		display: inline-block;
		margin: 10px 5px 0 0;
		
		a {
			background-color: #f4f4f4;
			color: #aaaaaa;
			display: block;
			font-size: 0.78em;
			text-transform: uppercase;
			padding: 0 9px;
			line-height: 23px;
			
			&:hover,
			&:focus,
			&:active {
				background-color: darken( #f4f4f4, 10% );
				
			}
		}
	}
}
section#main-category {
	.col-md-6 {
		border-top: 1px solid $gray-lighter;
	}
	.col-md-6:nth-child( 1 ) {
		border-top: 0 none;
	}
}

article.page-content {
	img {
		max-width: 100%;
		height: auto;
	}
	p {
		font-size: 1.14em;
		font-weight: 400;
		line-height: normal;
	}
	a {
		color: $color-brand !important;
		font-weight: 600 !important;
		
		&:hover,
		&:focus,
		&:active {
			color: lighten( $color-brand, 10% ) !important;
		}
	}
}

.to-top {
	background-color: $color-brand;
	bottom: 20px;
	border-radius: 2px;
	display: none;
	color: $color-white;
	cursor: pointer;
	line-height: 40px;
	margin-bottom: 0;
    position: fixed;
    text-align: center;
    right: 10px;
    width: 40px;
    z-index: 10;
    
    &:hover,
    &:focus,
    &:active {
    	color: $color-white !important;
    	opacity: 0.90;	
	}
}

.content-wrapper {
	padding: 30% 0;
}

.content-area {
	position: relative;
	
	.search-form {
		
	}
}

.without-sidebar .container {
	max-width: 1000px;
}

.comments-area {
	border-top: 1px solid $gray-lighter;
	margin-top: 20px;
	
	li {
		list-style: none;
	}
	.comment-list {
		padding: 0;
		
		.comment-body {
			border-bottom: 1px solid $gray-lighter;
			margin-bottom: 20px;
			padding-bottom: 20px;
		}
		.comment-author {
			float: left;
			margin-right: 15px;
			margin-bottom: 6px;
			
			img {
				@include border-radius( 50% );
			}	
		}
	}
	.comment-reply-link {	
		&:hover,
		&:focus,
		&:active {			
			&:before {
				background-position: -13px 2px;	
			}
		}
		
		&:before {
		    content: '';
		    background: url(../images/reply-icon.jpg) no-repeat 0 2px;
		    height: 13px;
		    width: 13px;
		    float: left;
		    margin-right: 7px;
		}
	}

	.comment-meta a,
	.comment-reply-link {
		color: #b0b0b0;
		
		&:hover,
		&:focus,
		&:active {
			color: $color-brand;
		}
	}
}

.nf-form-fields-required {
	display: none;
}

footer#footer {
	background-color: #1e2022;
	padding: 20px 0;
	color: $color-white;

	a {
		color: $color-white;

		&:hover,
		&:focus,
		&:focus {
			color: $color-brand;
		}
	}
	.copy-right,
	.powered-by {
		text-align: center;
		padding: 5px 0;
	}
	ul {
		list-style: none;	
	}
	li {
		display: inline-block;
		padding-left: 8px;
	}
}

@media ( min-width: 768px ) {
	.navbar-custom {
		.navbar-nav {
			width: 50%;
		}
		.navbar-nav-left {
			padding-right: 90px;

			& > li {
				float: right;
			}
		}
		.navbar-nav-right {
		    padding-left: 60px;
		}
		#main-menu {
			padding: 24px 0;
			position: relative;
		}
		.search-form {
			display: none;
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			z-index: 10;
			
			&.open .search-submit:before {
				content: '\f00d';
			}
			
			.form-container {
				height: 100%;
				margin-right: auto;
	    		margin-left: auto;
	    		position: relative;
			}
			
			label {
				height: 100%;
				width: 100%;	
			}
			
			.screen-reader-text {
				display: none;
			}
			.search-field {
				border: 0 none;
				font-weight: 400;
				font-size: 1.85em;
				padding: 0;
				height: 100%;
				width: 100%;
				
				@include border-radius( 0 );
				@include box-shadow( none );	
			}
			.search-submit {
				display: none;
			}
		}
		.toggle-search {
			display: block;
			cursor: pointer;
			position: absolute;
			top: 38px;
			right: 0;
			z-index: 11;
			
			&:hover {
				color: $color-brand;
			}
		}
	
		.social-network {
			position: absolute;
			top: 24px;
			left: 0;
			z-index: 9;
		}
	}
	section#feature {
		.slick-control {
			display: block;
		}
	}
	section#main-category {
		.col-md-6:nth-child( 1 ),
		.col-md-6:nth-child( 2 ) {
			border-top: 0 none;
		}
	}

	.feature-thumbnail-1 .caption h3 {
		font-size: 2.14em;
		line-height: 34px;
	}
	.feature-thumbnail-2 .caption h3,
	.feature-thumbnail-3 .caption h3 {
		font-size: 1.28em;
		line-height: 22px;
		padding: 10px 20px;
	}

	.form-container {
		width: $container-sm;
	}

	footer#footer {
		.copy-right {
			text-align: left;
		}
		.powered-by {
			text-align: right;
		}
	}
}

@media ( min-width: 992px ) {
	.form-container {
		width: $container-md;
	}
}

@media ( min-width: 1200px ) {
	.form-container {
		width: $container-lg;
	}	
}